@page "/"

<PageTitle>Home</PageTitle>

<div class="border border-dark">
<h1> Home Page </h1>


This is the first page we end up. It would probably make sense for me to put some home information here. Like a nice
Homepage before we get making the page I guess.
</div>


