<footer>

<h4>Company</h4>
	<ul>
		<li><a href="/">about us</a></li>
		<li><a href="/">our services</a></li>
		<li><a href="/">privacy policy</a></li>
		<li><a href="/">affiliate</a></li>
	</ul>

<h4>Follow us</h4>					
	<a href="/"><i class="bi bi-facebook"></i></a>
	<a href="/"><i class="bi bi-instagram"></i></a>
	<a href="/"><i class="bi bi-twitter"></i></a>
	<a href="/"><i class="bi bi-linkedin"></i></a>
</footer>



