

<footer>
    <ul class="social-icon">
        <li><a href="/"><i class="bi bi-facebook"></i></a></li>
        <li><a href="/"><i class="bi bi-instagram"></i></a></li>
        <li><a href="/"><i class="bi bi-twitter"></i></a></li>
        <li><a href="/"><i class="bi bi-linkedin"></i></a></li>
    </ul>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Team</a></li>
        <li><a href="/">Contact US</a></li>
    </ul>

    <p> Copyright - Gage Thornewell | All Rights Reserved</p>

</footer>

