@inherits LayoutComponentBase

<PageTitle>Starcraft 2 Website!!!</PageTitle>


<div class="page">
    <div class="border border-dark p-2">

        <h1> This is shown on every page </h1>
        
        <div>
            <NavMenu />
        </div>

    </div>

    <div>
        <article class="content px-4">
            @Body
        </article>
    </div>
</div>
